<nav>
	<ul data-smart-menu>
		
		<li data-ui-sref-active="active">
     	 <a ui-sref="root.home" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
      	  <i class="fa fa-lg fa-fw fa-home"></i>
					<span class="menu-item-parent">Home</span>
			 </a>
		 </li>
		
     <li data-ui-sref-active="active">
     	 <a ui-sref="root.usuarios" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
      	  <i class="fa fa-lg fa-fw fa-users"></i>
					<span class="menu-item-parent">Usuarios</span>
			 </a>
		 </li>

		 <li data-ui-sref-active="active">
      <a ui-sref="root.municipios" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-institution"></i>
        <span class="menu-item-parent">Municipios</span>
      </a>
     </li>
     
      <li data-ui-sref-active="active">
      <a ui-sref="root.ramas" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-group"></i>
        <span class="menu-item-parent">Ramas</span>
      </a>
     </li>
   
     <li data-ui-sref-active="active">
      <a ui-sref="root.eventos" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-calendar-o"></i>
        <span class="menu-item-parent">Eventos</span>
      </a>
     </li>
     
     <li data-ui-sref-active="active">
      <a ui-sref="root.deportes" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-trophy"></i>
        <span class="menu-item-parent">Deportes</span>
      </a>
     </li>
     
     <li data-ui-sref-active="active">
      <a ui-sref="root.categorias" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-sitemap"></i>
        <span class="menu-item-parent">Categorias</span>
      </a>
     </li>
     
     <li data-ui-sref-active="active">
      <a ui-sref="root.pruebas" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-share-alt"></i>
        <span class="menu-item-parent">Pruebas</span>
      </a>
     </li>	 
		 <li data-ui-sref-active="active">
      <a ui-sref="root.eventosmostrar" tilte="Insude" ng-if="currentUser.roles[0] == 'DelegadoMunicipal'">
        <i class="fa fa-lg fa-fw fa-calendar-o"></i>
        <span class="menu-item-parent">Eventos</span>
      </a>
     </li>
     <li data-ui-sref-active="active">
      <a ui-sref="root.impresiones" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-print"></i>
        <span class="menu-item-parent">Impresiones</span>
      </a>
     </li>
     <li data-ui-sref-active="active">
      <a ui-sref="root.descargadocumentos" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-cloud-download"></i>
        <span class="menu-item-parent">Descarga Doctos</span>
      </a>
     </li>
      <li data-ui-sref-active="active">
      <a ui-sref="root.cantidadPorMunicipio" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-sliders"></i>
        <span class="menu-item-parent">Cantidad por Muncipio</span>
      </a>
     </li>
     <li data-ui-sref-active="active">
      <a ui-sref="root.cantidadPorDeporte" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'">
        <i class="fa fa-lg fa-fw fa-sliders"></i>
        <span class="menu-item-parent">Cantidad por Deporte</span>
      </a>
     </li>
     <li data-ui-sref-active="active">
      <a ui-sref="root.listarparticipantes" tilte="Insude" ng-if="currentUser.roles[0] == 'DelegadoMunicipal'">
        <i class="fa fa-lg fa-fw fa-list"></i>
        <span class="menu-item-parent">Lista Participantes</span>
      </a>
     </li>
     <li data-ui-sref-active="active">
      <a ui-sref="root.cedula" tilte="Insude" ng-if="currentUser.roles[0] == 'DelegadoMunicipal'">
        <i class="fa fa-lg fa-fw fa-book"></i>
        <span class="menu-item-parent">Cédula</span>
      </a>
     </li>
     <li data-ui-sref-active="active">
      <a ui-sref="root.listado" tilte="Insude" ng-if="currentUser.roles[0] == 'admin'  || currentUser.roles[0] == 'DelegadoMunicipal'">
        <i class="fa fa-lg fa-fw fa-table"></i>
        <span class="menu-item-parent">Listado</span>
      </a>
     </li>     		 
  </ul>
</nav>