<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Gafetes (Trabajando)
		</h1>
	</div>
</div>
<br>
<div class="well">	    
	<div class="row">
		<div class="col-sm-4" valida>
			<label >Evento</label>
			<select name="evento" class="form-control select2" placeholder="Seleccione" ng-model="gaf.evento.evento_id" required>
					<option  value="{{evento._id}}" ng-repeat="evento in gaf.eventos">
						{{evento.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-4">
			<label >Municipio</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="gaf.evento.municipio_id">
					<option  value="{{municipio._id}}" ng-repeat="municipio in gaf.municipios">
						{{municipio.nombre}}
					</option>
			</select>
		</div>

	</div>
</div>		
