<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="alge-title txt-color-blueDark">
			<i class="fa fa-list fa-fw "></i>
				Impresiones 
		</h1>
	</div>
</div>
<br>
<form name="form" class="form-horizontal" role="form" novalidate>
<div class="well">	    
	<div class="row">
		<div class="col-sm-3" valida>
			<label >Evento</label>
			<select name="evento" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.evento_id" required>
					<option  value="{{evento._id}}" ng-repeat="evento in imp.eventos">
						{{evento.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3" valida>
			<label >Municipio</label>
			<select name="municipio" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.municipio_id" required>
					<option  value="{{municipio._id}}" ng-repeat="municipio in imp.municipios">
						{{municipio.nombre}}
					</option>
			</select>
		</div>
		<div class="col-sm-3" valida>
			<label >Deportes</label>
			<select name="deporte" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.deporte_id" required>
					<option  value="{{deporte._id}}" ng-repeat="deporte in imp.deportes">
						{{deporte.nombre}}
					</option>
			</select>
		</div>
	</div>	
	<div class="row">	
		<div class="col-sm-3" valida>
			<label >Categoria</label>
			<select name="categoria" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.categoria_id" required>
					<option  value="{{categoria._id}}" ng-repeat="categoria in imp.categorias">
						{{categoria.nombre}}
					</option>
			</select>
		</div>
		
		<div class="col-sm-3" valida>
			<label >Rama</label>
			<select name="rama" class="form-control select2" placeholder="Seleccione" ng-model="imp.evento.rama_id" required>
					<option  value="{{rama._id}}" ng-repeat="rama in imp.ramas">
						{{rama.nombre}}
					</option>
			</select>
		</div>
		
		<div class="col-sm-2">
				<br>
				<input id="buscar" class="btn btn-primary" type="button" ng-click="imp.buscar(form)" value="Buscar" valida-form formulario="form"/>
		</div>	
	</div>
</div>
</form>
<div class="well">		
	<div class="row">
		<div class="col-sm-3">
				<!--
				<a class="btn btn-primary" ui-sref="anon.credenciales({evento:imp.evento.evento_id
																															,municipio:imp.evento.municipio_id
																															,deporte:imp.evento.deporte_id
																															,categoria:imp.evento.categoria_id
																															,rama:imp.evento.rama_id})" target="_blank">
				  Credenciales
				</a>
				-->
				<input id="registrar1" class="btn btn-primary" type="button" ng-click="imp.download(imp.participantes, 1)" value="Credenciales" ng-disabled="imp.carga==true" />
		</div>
		<div class="col-sm-3">
				<input id="registrar2" class="btn btn-primary" type="button" ng-click="imp.download(imp.participantes, 2)" value="Gafetes" ng-disabled="imp.carga==true" />
		</div>
	</div>
</div>		
<table class="table" width="600" align="center" bs-table>
	<thead>
		 <tr>
			 <th>Foto</th>
			 <th>CURP</th>
			 <th>Nombre</th>
			 <th>Sexo</th>
			 <th>Fecha Nacimiento</th>	
			 <th width="15%"><input id="todos" type="checkbox" class="form-control" ng-click="imp.cambiar()" checked="true"/></th> 
		 </tr> 
	</thead>	
	<tbody>
		<tr ng-repeat="participante in imp.participantes"> 
			<td>
					<img src="{{imp.tieneFoto(participante.sexo, participante.foto)}}" alt="" class="img-rounded img-responsive" style="width:60px; height:60px;" />
			</td>	
			<td>{{participante.curp}}</td>
			<td>{{participante.nombre}} {{participante.apellidoPaterno}} {{participante.apellidoMaterno}}</td>
			<td>{{participante.sexo}}</td>
			<td>{{participante.fechaNacimiento | date: "dd/MM/yyyy" }}</td>	
			<td><input type="checkbox" class="form-control" ng-model="participante.imprimir" value="participante.imprimir"/> </td>	
		</tr>	
	</tbody>
</table>

<a id='dwnldLnkG' href="#" download='archivo.docx' style="display:none;" hidden="true"></a>   




